h1{color: crimson;
text-align: center;
}

h2{color: purple;}

body {
    background-color: cornflowerblue;
}
table {
    border-collapse: collapse;
}

tr:nth-of-type(1) > th {
    background-color: orange;
}

td {
    background-color: aquamarine;
}

legend {
    color: pink;
}